@page "/"
@namespace snowdepth_usergui.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Snödjupskontrollen</title>
	<base href="/snowdepth/" />
	<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
	<link href="css/site.css" rel="stylesheet" />

	<environment include="Development">
		<script src="https://cdn.syncfusion.com/ej2/17.3.19/dist/ej2.min.js"></script>
	</environment>
</head>
<body>
	<app>
		@(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
	</app>

	<script src="_framework/blazor.server.js"></script>
	<script src="PinMap.js"></script>
</body>
</html>
