@page "/"

<h1>Välkommen Micke</h1>

Närmaste snödjupsmätare med sensor finns 1,4 km från din aktuella position. Den har mätt ett snöfall på 123 mm senaste dygnet (Totalt 248 mm). Se din aktuella position samt sensorernas positioner på kartan nedan. För att lägga till en manuell snödjupsmätning, vänligen navigera till "Lägg till mätvärden".
